<tr>
  <th>未来30min降水</th>
  <td id="date"><%= qpf_data[5]["d"]%>mm</td>
</tr>
<tr>
  <th>未来60min降水</th>
  <td id="weather"><%= qpf_data[10]["d"]%>mm</td>
</tr>
<tr>
  <th>未来90min降水</th>
  <td id="rain"><%= qpf_data[15]["d"]%>mm</td>
</tr>
