<div class="warning-btn"><%= link_to image_tag("warning-btn.gif"), "javascript:void(0);"%></div>
<div class="typhoon-list">
  <ul>
    <li>
      <i class="circle black"></i>
      超强台风
    </li>
    <li>
      <i class="circle purple"></i>
      强台风
    </li>
    <li>
      <i class="circle red"></i>
      台风
    </li>
    <li>
      <i class="circle orange"></i>
      强热带风暴
    </li>
    <li>
      <i class="circle yellow"></i>
      热带风暴
    </li>
    <li>
      <i class="circle blue"></i>
      热带低压
    </li>
  </ul>
</div>