<table>
  <tr>
    <th>温度</th>
    <td id="tempe"><%= @scene_weather['tempe']%></td>
  </tr>
  <tr>
    <th>气压</th>
    <td id="pressure">998hPa</td>
  </tr>
  <tr>
    <th>风</th>
    <td id="wind"><%= @scene_weather['direction']%><%= @scene_weather['speed']%></td>
  </tr>
  <tr>
    <th>能见度</th>
    <td id="visibility"><%= @scene_weather['tempe']%></td>
  </tr>
</table>