@import "variable";

.histories_list {
  background: $main-color;
  .title {
    margin: 10px 0;
    text-align: center;
  }
  .listBar {
    padding: 0 5%;
    a {
      color: $black-color;
    }
    .list {
      margin: 10px 0;
      padding: 5px 10px;
      background: $white-color;
      overflow: hidden;
      .leftBar {
        width: 80%;
        float: left;
      }
      .rightArrow {
        width: 20%;
        float: left;
        text-align: right;
        img {
          margin: 4px 0;
        }
      }
    }
  }
  p {
    height: 30px;
    line-height: 30px;
  }
}

.histories_result {
  padding: 1rem 10%;
  background: $main-color;
  .logo {
    text-align: center;
  }
  ul {
    overflow: hidden;
    li {
      line-height: 40px;
      &::before {
        margin-right: 15px;
      }
      &.star::before {
        content: url("svg/xingxing.svg");
      }
      &.time::before {
        content: url("svg/shizhong.svg");
      }
      &.position::before {
        content: url("svg/dizhi.svg");
      }
      &.rain::before {
        content: url("svg/yu.svg");
      }
      &.ok::before {
        content: url("svg/duihao.svg");
      }
    }
  }
  hr {
    margin: 30px 0;
    background: $white-color;
  }
  .tips {
    color: $white-color;
    p {
      font-size: 1.4rem;
      line-height: 1.8rem;
      span {
        font-size: 1.6rem;
      }
    }
  }
}
.histories_index {
  .searchBar {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 5px;
    background: #fff;
    .title {
      height: 48px;
      line-height: 48px;
      text-align: center;
      color: $white-color;
      background: $main-color;
      border-radius: 5px 5px 0 0;
    }
    form {
      padding: 0 1rem;
    }
    .styled-input {
      width: 100%;
      height: 6rem;
      line-height: 6rem;
      overflow: hidden;
      label {
        width: 6rem;
        margin: .5rem;
        display: block;
        float: left;
      }
      input {
        width: 70%;
        border: none;
        font-size: 16px;
        padding: .5rem 0 .1rem 0;
        margin: 1.6rem 0;
        border-bottom: solid 1px $gray-color;
        float: left;
        text-align: center;
        display: block;
      }
      select {
        width: 70%;
        border: none 0;
        height: 44px;
        margin: .6rem 0;
        border: solid 1px #fff;
        border-bottom: solid 1px #aeaeae;
        background: #fff;
        float: left;
        display: block;
      }
    }
    .btns {
      margin-top: 24px;
      overflow: hidden;
      padding: 0 6% 2rem 6%;
    }
    .submit, .cancel {
      color: $main-color;
      height: 30px;
      width: 35%;
      border: solid 1px $main-color;
      border-radius: 5px;
      background: $white-color;
      &.active {
        background: $main-color;
        color: $white-color;
      }
    }
  }
}