@import "variable";

.home_index {
  .topbar {
    padding: 1%;
    background: $home-topbar-color;
    .title {
      color: $white-color;
      text-align: center;
      margin: 5px 0;
    }
    .weather-logo {
      color: $white-color;
      text-align: center;
      margin: 30px 0;
      p {
        margin: 15px 0;
      }
      h3 {
        font-size: 2.2rem;
      }
    }
    .weather-info {
      color: $white-color;
      .excellent, .good, .mild, .moderate, .severe, .serious {
        font-size: 1.4rem;
        padding: .1rem 1rem;
        border-radius: .2rem;
      }
      .excellent {
        background: #188743;
      }
      .good {
        background: #e5da1e;
      }
      .mild {
        background: #dfb724;
      }
      .moderate {
        background: #cb2028;
      }
      .severe {
        background: #80287f;
      }
      .serious {
        background: #701419;
      }
      ul {
        padding: 0 3%;
        overflow: hidden;
        li {
          width: 50%;
          float: left;
          padding: 10px 0;
          font-size: 2rem;
          span {
            font-size: 2rem;
          }
        }
      }
    }
  }
  .weather-list {
    color: $text-color;
    ul {
      overflow: hidden;
      li {
        width: 25%;
        float: left;
        padding: 10px 0;
        text-align: center;
        font-size: 1.6rem;
        background: $white-color;
        &.bg {
          background: $li-color;
        }
        img {
          width: 50px;
          height: 50px;
          overflow: hidden;
        }
        p {
          font-size: 12px;
          height: 24px;
          line-height: 24px;
        }
      }
    }
  }
}