@import "variable";

.home_index {
  .topbar {
    padding: 4rem 0;
    background: $home-topbar-color;
    .title {
      color: $white-color;
      text-align: center;
      margin: 5px 0;
    }
    .weather-logo {
      color: $white-color;
      text-align: center;
      margin: 30px 0;
      img {
        width: 10rem;
        height: 10rem;
      }
//      @media only screen and (max-device-height: 480px){
//        img {
//          width: 3.4rem;
//          height: 3.4rem;
//        }
//      }
//      @media screen and (max-device-height: 639px){
//        img {
//          width: 10.7rem;
//          height: 10.7rem;
//        }
//      }
//      @media only screen and (min-device-height: 640px) and (max-device-height: 735px) {
//        img {
//          width: 15rem;
//          height: 15rem;
//          margin: .8rem 0;
//        }
//      }
//      @media only screen and (min-device-width: 414px) and (min-device-height: 736px) {
//        img {
//          width: 15.5rem;
//          height: 15.5rem;
//          margin: 4.5rem 0;
//        }
//      }
      p {
        margin: 15px 0;
      }
      h3 {
        font-size: 2.2rem;
      }
    }
    .weather-info {
      color: $white-color;
      .excellent, .good, .mild, .moderate, .severe, .serious {
        font-size: 1.4rem;
        padding: .1rem 1rem;
        border-radius: .2rem;
      }
      .excellent {
        background: #188743;
      }
      .good {
        background: #e5da1e;
      }
      .mild {
        background: #dfb724;
      }
      .moderate {
        background: #cb2028;
      }
      .severe {
        background: #80287f;
      }
      .serious {
        background: #701419;
      }
      ul {
        padding: 0 2%;
        overflow: hidden;
        li {
          width: 48%;
          height: 3rem;
          line-height: 3rem;
          float: right;
          img {
            padding-top: .7rem;
            margin-right: .5rem;
            display: block;
            float: left;
          }
          span {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  .weather-list {
    color: $text-color;
    overflow: hidden;
    ul#weatherPro {
      transform: translate(0, 0);
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
      overflow: hidden;
      li {
        width: 25%;
        float: left;
        padding: 10px 0;
        text-align: center;
        font-size: 1.6rem;
        background: $white-color;
        transform: translate(0, 0);
        &.bg {
          background: $li-color;
        }
        img {
          width: 50px;
          height: 50px;
          overflow: hidden;
        }
        p {
          font-size: 12px;
          height: 24px;
          line-height: 24px;
        }
      }
    }
  }
}