@import "variable";

.importants_index {
  background: $main-color;
  .topBar {
    .leftbar {
      height: 100px;
      width: 100px;
      float: left;
    }
    .rightbar {
      
    }
  }
  .mainMap {
    img {
      width: 100%;
    }
  }
}