@import "variable";

.importants_future, .histories_index, .scenes_index {
  .searchbar {
    padding: 10px 3%;
    background: $home-topbar-color;
    form {
      position: relative;
    }
    input[type="text"] {
      width: 94%;
      height: 30px;
      font-size: 1.4rem;
      padding: 5px 0 5px 5px;
      margin: 0 auto;
      display: block;
      border-radius: 5px;
      border: 0;
    }
    input[type="submit"] {
      color: #ef402b;
      position: absolute;
      right: 3%;
      top: 2px;
      border: none;
      height: 36px;
      width: 50px;
      background: #cdcdcd;
      display: block;
      border-radius: .5rem;
    }
  }
  .tipsContent {
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    border-radius: .5rem;
    padding: .3rem;
    .weather-info {
      color: $main-color;
      border: solid 2px $main-color;
      background: #fff;
      border-radius: .5rem;
      padding: .5rem;
      tr {
        line-height: 2.4rem;
      }
      th {
        font-weight: normal;
      }
      td {
        padding-left: .5rem;
      }
    }
  }
}