@import "variable";

.histories_index, .scenes_index {
  .searchbar {
    padding: 10px 3%;
    background: $home-topbar-color;
    form {
      position: relative;
    }
    input[type="text"] {
      width: 94%;
      height: 30px;
      font-size: 1.4rem;
      padding: 5px 0 5px 5px;
      margin: 0 auto;
      display: block;
      border-radius: 5px;
      border: 0;
    }
    input[type="submit"] {
      color: #ef402b;
      position: absolute;
      right: 3%;
      top: 2px;
      border: none;
      height: 36px;
      width: 50px;
      background: #cdcdcd;
      display: block;
      border-radius: 5px;
    }
  }
  .weather-info {
    width: 33%;
    color: $main-color;
    border: solid 2px $main-color;
    background: #fff;
    position: absolute;
    right: 10px;
    bottom: 70px;
    border-radius: 5px;
    th {
      font-weight: normal;
    }
    td {
      padding-left: 5px;
    }
  }
}