<footer>
  <%= link_to root_path, class: "#{current_page?(controller: 'home', action: 'index') ? 'active' : ''}" do %>
    <div class="icon home"></div>
    <p>天气预报</p>
  <% end %>
  <%= link_to importants_path, class: "#{params[:controller] == 'importants' ? 'active' : ''}" do %>
    <div class="icon important"></div>
    <p>重要天气</p>
  <% end %>
  <%= link_to scenes_path, class: "#{params[:controller] == 'scenes' ? 'active' : ''}" do %>
    <div class="icon search"></div>
    <p>实况查询</p>
  <% end %>
  <%= link_to histories_path, class: "#{params[:controller] == 'histories' ? 'active' : ''}" do %>
    <div class="icon time"></div>
    <p>历史查询</p>
  <% end %>
</footer>